/* Estilos generales del documento */

/* Configuración de la fuente y el fondo del cuerpo */
body {
    font-family: "Montserrat", sans-serif;
    background: #ecfaec;
  }
  
  /* Contenedor principal */
  .container {
    max-width: 900px;
    float: right;
  }

  /* Estilos para enlaces */
  a {
    display: inline-block;
    text-decoration: none;
  }
  
  /* Estilos para los campos de entrada */
  input {
    outline: none !important;
  }
  
  /* Estilos para encabezado h1 */
  h1 {
    
    text-align: center;/* Alineación centrada del texto */
    text-transform: uppercase; /* Transformación de texto en mayúsculas */
    margin-bottom: 40px; /* Margen inferior de 40 píxeles */
    font-weight: 700; /* Peso de fuente en negrita (700) */
  }
  
  /* Estilos para el contenedor del formulario */
  section#formHolder {
    padding: 50px 0;/* Espaciado interno de 50 píxeles en la parte superior e inferior */
  }
  
  /* Estilos para la marca */
  .brand {
    
    padding: 20px;/* Espaciado interno de 20 píxeles */
    background: url(https://goo.gl/A0ynht);/* Imagen de fondo */
    background-size: cover;/* Ajuste de tamaño de la imagen de fondo */
    background-position: center center;/* Posicionamiento de la imagen de fondo en el centro */
    color: #fff;/* Color del texto en la marca */
    min-height: 540px;/* Altura mínima de 540 píxeles */
    position: relative;/* Posición relativa */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); /* Sombra del cuadro */
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);/* Transición animada de todos los estilos durante 0.6 segundos con una curva de aceleración personalizada */
    z-index: 9999;/* Índice z para controlar el apilamiento */
  }
  
  /* Estilos para la marca cuando está activa */
.brand.active {
    width: 100%;/* Ancho del elemento al 100% */
  }
  
  /* Pseudo-elemento ::before para la marca */
  .brand::before {
  
    content: "";  /* Contenido vacío */
    display: block;/* Mostrar como bloque */
    width: 100%;/* Ancho del elemento al 100% */
    height: 100%; /* Altura del elemento al 100% */
    position: absolute;/* Posición absoluta */
    top: 0;/* Posicionamiento en la esquina superior izquierda */
    left: 0;
    background: rgba(0, 0, 0, 0.85);/* Fondo semi-transparente */
    z-index: -1; /* Índice z negativo para colocarlo detrás de otros elementos */
  }
  
  /* Estilos para el enlace de logo dentro de la marca */
  .brand a.logo {
    
    color: #d6aeeb;/* Color del texto del enlace */
    font-size: 20px;/* Tamaño de fuente de 20 píxeles */
    font-weight: 700;/* Peso de fuente en negrita (700) */
    text-decoration: none;/* Sin decoración de texto */
    line-height: 1em;/* Altura de línea de 1em */
  }
  
  /* Estilos para el elemento span dentro del enlace de logo */
  .brand a.logo span {
    
    font-size: 30px;/* Tamaño de fuente de 30 píxeles */
    color: #fff;/* Color del texto */
    transform: translateX(-5px);/* Desplazamiento horizontal del texto en -5 píxeles */
    display: inline-block;/* Mostrar como bloque en línea */
  }
  
  /* Estilos para el contenedor de encabezado dentro de la marca */
  .brand .heading {
    
    position: absolute;/* Posición absoluta */
    top: 50%; /* Posicionamiento en el centro vertical y horizontal */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;/* Alineación centrada del texto */
    transition: all 0.6s;/* Transición animada de todos los estilos durante 0.6 segundos */
  }
  
  /* Estilos para el contenedor de encabezado cuando está activo */
  .brand .heading.active {
    
    top: 100px;
    left: 100px;/* Posicionamiento en la parte superior izquierda */
    transform: translate(0);/* Transformación de translación a 0 */
  }
  
  /* Estilos para el encabezado h2 dentro del contenedor de encabezado */
  .brand .heading h2 {
   
    font-size: 70px; /* Tamaño de fuente de 70 píxeles */
    font-weight: 700;/* Peso de fuente en negrita (700) */
    text-transform: uppercase;/* Transformación de texto en mayúsculas */
    margin-bottom: 0; /* Margen inferior de 0 */
  }
  
  .brand .heading p {
    font-size: 15px; /* Tamaño de fuente de 15 píxeles */
    font-weight: 300; /* Grosor de fuente 300 */
    text-transform: uppercase; /* Transformación de texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras de 2 píxeles */
    white-space: 4px; /* Espacio en blanco de 4 píxeles */
    font-family: "Raleway", sans-serif; /* Fuente "Raleway" o la fuente sans-serif predeterminada */
  }
  

  
  @media (max-width: 768px) {
    .container {
      overflow: hidden; /* Ocultar desbordamiento */
    }
  
    section#formHolder {
      padding: 0; /* Sin relleno */
    }
  
    section#formHolder div.brand {
      min-height: 200px !important; /* Altura mínima (importante) */
    }
  
    section#formHolder div.brand.active {
      min-height: 100vh !important; /* Altura mínima (importante) */
    }
  
    section#formHolder div.brand .heading.active {
      top: 200px; /* Posición superior */
      left: 50%; /* Posición izquierda */
      transform: translate(-50%, -50%); /* Transformación */
    }
  
    section#formHolder div.brand .success-msg p {
      font-size: 16px; /* Tamaño de fuente */
    }
  
    section#formHolder div.brand .success-msg a {
      padding: 5px 30px; /* Espaciado interno */
      font-size: 10px; /* Tamaño de fuente */
    }
  
    section#formHolder .form {
      width: 80vw; /* Ancho del formulario */
      min-height: 500px; /* Altura mínima del formulario */
      margin-left: 10vw; /* Margen izquierdo del formulario */
    }
  
    section#formHolder .form .form-peice {
      margin: 0; /* Sin margen */
      top: 0; /* Posición superior */
      left: 0; /* Posición izquierda */
      width: 100% !important; /* Ancho del formulario (importante) */
      transition: all 0.5s ease-in-out; /* Transición */
    }
  
    section#formHolder .form .form-peice.switched {
      transform: translateY(-100%); /* Transformación */
      width: 100%; /* Ancho del formulario */
      left: 0; /* Posición izquierda */
    }
  
    section#formHolder .form .form-peice > form {
      width: 100% !important; /* Ancho del formulario (importante) */
      padding: 60px; /* Relleno */
      left: 50%; /* Posición izquierda */
    }
  }
  
  @media (max-width: 480px) {
    section#formHolder .form {
      width: 100vw; /* Ancho del formulario */
      margin-left: 0; /* Margen izquierdo del formulario */
    }
  
    h2 {
      font-size: 50px !important; /* Tamaño de fuente del encabezado (importante) */
    }
  }
  